
#page_div {
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    justify-content: right;
}
#page_div_ch {
    display: flex;
    margin: 0 1px;
}
#page_left_arrow {
    border: 1px solid black;
    width: 19px;
    height: 19px;
    text-align: center;

    line-height: 19px;

    display: inline-block;
    position: relative;
}
#page_left_arrow>a {
    text-decoration: none;
    color: black;
}
#page_right_arrow {
    border: 1px solid black;
    width: 19px;
    height: 19px;
    text-align: center;
    display: inline-block;
    line-height: 19px;
    position: relative;
    margin-left: 2px;
}
#page_right_arrow>a {
    text-decoration: none;
    color: black;
}
.page_number {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 19px;
    height: 19px;
    text-align: center;
    display: inline-block;
    line-height: 19px;
    position: relative;
    font-size: 12px;
}
.page_number>a {
    text-decoration: none;
    color: black;
}